html {
  font-family: 'Neucha', cursive;
}

body {
  background-color: lightblue;
}

h1 {
  font-family: 'Neucha', cursive;
  text-align: center;
  font-size: 7em;
  background-color: lightblue;
  padding-top: 250px;
  padding-bottom: 50px;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border: lightblue 5px;
}

.top {
  list-style: none;
  display: inline-block;
  padding: 15px;
  border: solid 3px lightblue;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 3em;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

nav {
  text-align: center;
  background-color: lightskyblue;
  padding-top: 50px;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 3em;
  background-color: lightskyblue;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.homep {
  margin-top: 0;
  margin-bottom: 0;
  background-color: lightskyblue;
  font-size: 2em;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  text-align: justify;
}

footer {
  background-color: lightskyblue;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 2em;
  border-top: 2px solid lightblue;
  text-align: center;
}

footer a  {
  text-decoration: none;
  color: black;
  border: lightblue solid 2px;
  padding: 2px;
}

a:hover, nav a:hover, .top:hover {
  color: blue;
  background: lightblue;
}
